#### 1이 될 때 까지

* 어떠한 수 N이 1이 될때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 합니다. 단, 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있습니다.
1. N에서 1을 뺍니다
2. N을 K로 나눕니다.
* ex) N = 17, K = 4일 때, 1번의 과정을 1회 수행하면 N =16이 됩니다.
이후에 2번의 과정을 2번 수행하면 N = 1이 됩니다. 결과적으로 이 경우 전체 과정을 실행한 횟수는 3이 됩니다. 이는 N을 1로 만드는 최소 횟수입니다.
* N과 K가 주어질 때, N이 1이 될때까지 수행해야 하는 최소 횟수를 구하는 코드를 작성하시오.

> 제한조건 없음. 정해진 함수 없음

In [ ]:
n = 25
k = 3
output = 3
n/ k

In [ ]:
# 내 풀이
%time
def until_one(n, k):
    count = 0
    if n == 1:
        count = 1
        return 1
    while n > 1:
        if n % k != 0:
            n = n-1
            count += 1
        if n % k == 0:
            n = n / k
            count += 1
    return count
until_one(n,k)

In [ ]:
# 또다른 해결안
%time
result = 0
while True:
    target = (n//k) * k
    result += (n - target)
    n = target
    if n < k:
        break
    result += 1
    n //= k
result += (n-1)
result

> 2번문제

### 곱하기 혹은 더하기

* 각 자리가 숫자 (0~9) 로만 이루어진 문자열 s가 주어졌을 때 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 'x' 혹은 '+' 을 넣어서 만들어질 수 있는 가장 큰 수를 구하시오.
* 단 + 보다 x를 먼저 계산하지 않고, 모든 연산은 왼쪽부터 순서대로 이루어집니다.

In [ ]:
# 첫째줄에 여러개의 숫자로 구성된 하나의 문자열 s가 주어집니다.
# input = 02984
output = 576
n = 123

In [ ]:
# 제한조건
1 <= S <= 20

In [ ]:
list(str(n))

In [ ]:
from collections import deque
def multiple_plut(s):
    max_number = 0
    q = deque()
    q.append(list(str(s)))
    while q:
        current_node = q.popleft(-1)
    return max_number

In [ ]:
# 내 풀이
from collections import deque
def multiple_plus(n):
    q = deque()
    for i in str(n):
        q.append(int(i))
    q.append(0)    
    while len(q) < 1:
        current_node = q.popleft()
        if len(q) > 0:
            next_node = q.popleft()       
            multiple_num = current_node * next_node
            plus_num = current_node + next_node
        if multiple_num > plus_num:
            q.insert(0, multiple_num)
        else:
            q.insert(0, plus_num)
        
    return q
n = 2984
multiple_plus(n)

In [50]:
# 내 풀이
from collections import deque
def multiple_plus(n):
    q = []
    for i in str(n):
        q.append(int(i))
    for i in q:
        for j in q[i:]:
            if i <= 1 or j <= 1:
                num = i + j
                q.append(num)
            else:
                num = i * j
                q.append(num)
    return sum(q)

In [51]:
multiple_plus(2984)

143

In [31]:
a = [1,2,3,4,5]
i = 2
for i in a:
    for j in a[i:]:
        print(i,j)

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [73]:
#해결안
def multiple_plus(data):
    data = list(str(data))
    result = data[0]
    for i in range(1, len(data)):
        num = data[i]
        result = int(result)
        if result <= 1 or int(num) <= 1:
            result += int(num)
        else:
            result *= int(num)
    return result

In [74]:
p = 2984
multiple_plus(p)

576

In [87]:
def multiple_plus(n):
    n = str(n)
    result = n[0]
    for i in range(1, len(n)):
        num = n[i]
        result = int(result)
        num = int(num)
        if result <= 1 or num <= 1:
            result += num
        else:
            result *= num
    
    return result

In [88]:
multiple_plus(2984)

576

> 문제 3 모험가 길드

* 한 마을에 모험가가 n명 있습니다. 모험가 길드에서는 n명의 모험가를 대상으로 '공포도'를 측정했는데, 공포도가 높은 모험가는 쉽게 공포를 느껴 위험상황에서는 제대로 대처할 능력이 떨어집니다.
* 모험가 길드장인 동빈이는 모험가 그룹을 안전하게 구성하고자 공포도가 X인 모험가는 반드시 X명 이상으로 구성한 모험가 그룹에 참여해야 여행을 떠날수 있도록 규정했습니다.
* n명의 모험가에 대한 정보가 주어졌을 때, 여행을 떠날 수 있는 그룹 수의 최댓값을 구하는 방법을 작성하시오.